compressionLevel: mixed
enableGlobalCache: false
nodeLinker: node-modules
network-timeout 1800000
network-concurrency 1
child-concurrency 1
registry "https://registry.yarnpkg.com/"
disable-self-update-check true
